@charset "ISO-8859-1";

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1a1a1b;
    color: #333;
}
.container {
    width: 85%;
    margin: 20px auto;
    background: #111112;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
h1 {
    text-align: center;
}
.product-parent{
	display: flex;
	justify-content: center;
}
.product {
    text-align: center;
    background-color: #636367;
    padding: 50px;
    padding-bottom: 20px;
    margin: 10px;
    border-radius: 20px;
    border-style: solid;
    border-color: #1a1a1b;
}
button {
    padding: 15px;
    margin: 10px;
    font-size: 16px;
    background-color: #7159ad;
    color: #fff;
    border-radius: 20px;
    border: none;
}
button:hover{
	background-color: #fff;
	color: #7159ad;
	transition: background-color 0.5s;
}
.topnav {
  background-color: #fff;
  overflow: hidden;
}
.logo {
	float: left;
	padding-right: 10px;
}
.cart {
	float: right;
	padding: 20px;
}
.product-img {
	border-radius: 20px;
}
a{
	text-decoration: none;
	color: #fff;
}
a:visited {
  text-decoration: none;
}